@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: 'NBG';
  font-weight: 400;
  src: url(../fonts/NanumBarunGothicSubset.eot);
  src: url(../fonts/NanumBarunGothicSubset.eot?#iefix) format("embedded-opentype"), url(../fonts/NanumBarunGothicSubset.woff2) format("woff2"), url(../fonts/NanumBarunGothicSubset.woff) format("woff"), url(../fonts/NanumBarunGothicSubset.ttf) format("truetype");
}

@font-face {
  font-family: 'NBG';
  font-weight: 700;
  src: url(../fonts/NanumBarunGothicBoldSubset.eot);
  src: url(../fonts/NanumBarunGothicBoldSubset.eot?#iefix) format("embedded-opentype"), url(../fonts/NanumBarunGothicBoldSubset.woff2) format("woff2"), url(../fonts/NanumBarunGothicBoldSubset.woff) format("woff"), url(../fonts/NanumBarunGothicBoldSubset.ttf) format("truetype");
}

/*initial css*/
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  color: #6c6d73;
  font-family: 'NBG', sans-serif;
  line-height: 1.5;
}

html, body, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: 'NBG', sans-serif;
  color: #3a3a4a;
}

input {
  outline: none;
  font-family: inherit;
}

button {
  border: 0;
}

.dropdown_allow {
  position: relative;
}

.dropdown_allow:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 10px;
  height: 8px;
  background: url("../img/arrow-navy.png") no-repeat right center/contain;
  transform: translateY(-50%);
}

.dropdown_allow.on:after {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown_allow.red:after {
  background-image: url("../img/arrow-gray.png");
}

.dropdown_allow.red.on:after {
  background-image: url("../img/arrow-red-on.png");
  transform: translateY(-50%);
}

.quick_menu {
  position: fixed;
  top: 50%;
  right: 0;
  width: 40px;
  transform: translateY(-50%);
  z-index: 1;
}

.quick_menu ul li {
  margin-top: 1px;
  transition: transform .4s;
}

.quick_menu ul li:first-child {
  margin-top: 0;
}

.quick_menu ul li:hover {
  transform: translateX(-85px);
}

.quick_menu ul li a {
  display: flex;
  align-items: center;
  width: 135px;
  height: 40px;
  line-height: 1.1;
  color: #fff;
  font-size: 13px;
  background: #44465c;
}

.quick_menu ul li a img {
  display: inline-block;
  width: 40px;
  height: 40px;
  object-fit: none;
}

.back_to_top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  background: url("../img/btn-direction-top.png") no-repeat;
  z-index: 1;
}

.back_to_top:hover {
  background-image: url("../img/btn-direction-top-on.png");
}

.point {
  color: #ee0700;
}

.button {
  cursor: pointer;
}

.window {
  display: none;
  position: absolute;
  min-width: 130px;
  padding: 15px 20px;
  border: 1px solid #666779;
  background: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  z-index: 5;
}

.window a {
  font-size: 15px;
  line-height: 2;
}

.window.on {
  display: block;
}

.tag_list {
  margin-top: 30px;
}

.tag_list a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  margin: 8px 5px 0 0;
  padding: 0 12px;
  max-width: 140px;
  height: 40px;
  line-height: 40px;
  color: #6c6d73;
  font-size: 15px;
  background: #f6f6f6;
  border: 1px solid transparent;
  border-radius: 8px;
  box-sizing: border-box;
}

.tag_list a:hover {
  background: transparent;
  border: 1px solid #f6f6f6;
}

body.on {
  overflow: hidden;
}

.inner {
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 12px;
}

.all_menu {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(29, 29, 29, 0.75);
  box-sizing: border-box;
  z-index: 100;
}

.all_menu.on {
  display: flex;
}

.all_menu .all_menu_window {
  position: relative;
  max-width: 1180px;
  width: 90%;
  background: #fff;
  box-shadow: 0 0 3px #000;
}

.all_menu .all_menu_window .all_menu_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.all_menu .all_menu_window .title {
  padding: 0 30px;
  height: 72px;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  background: #44465c;
  line-height: 72px;
}

.all_menu .all_menu_window .link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 60px;
  height: 48px;
  font-size: 15px;
  border-bottom: 1px solid #e1e3e6;
}

.all_menu .all_menu_window .link li {
  margin-left: 15px;
  padding-left: 15px;
  line-height: 1;
  border-left: 1px solid #e1e3e6;
}

.all_menu .all_menu_window .link li:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

.all_menu .all_menu_window .menu {
  display: flex;
}

.all_menu .all_menu_window .menu .menu_left {
  flex: 0 0 220px;
  background: #f6f6f6;
}

.all_menu .all_menu_window .menu .menu_left ul {
  padding-top: 30px;
}

.all_menu .all_menu_window .menu .menu_left ul li {
  display: block;
  color: #3a3a4a;
  font-size: 16px;
  line-height: 42px;
  cursor: pointer;
}

.all_menu .all_menu_window .menu .menu_left ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.all_menu .all_menu_window .menu .menu_left ul li a.on, .all_menu .all_menu_window .menu .menu_left ul li a:hover {
  color: #fff;
  background: #ee0700;
}

.all_menu .all_menu_window .menu .menu_right {
  overflow-y: scroll;
  flex: 1 auto;
  height: 700px;
  padding: 30px 60px;
  box-sizing: border-box;
}

.all_menu .all_menu_window .menu .menu_right .menu_right_list.hide {
  display: none;
}

.all_menu .all_menu_window .menu .menu_right .menu_right_list .menu_list + .menu_list {
  margin-top: 45px;
}

.all_menu .all_menu_window .menu .menu_right .menu_right_list .menu_list .menu_list_title {
  margin-bottom: 15px;
  font-weight: 700;
}

.all_menu .all_menu_window .menu .menu_right .menu_right_list .menu_list > ul {
  border-top: 2px solid #666779;
  border-bottom: 1px solid #e1e3e6;
}

.all_menu .all_menu_window .menu .menu_right .menu_right_list .menu_list > ul > li {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid #e1e3e6;
}

.all_menu .all_menu_window .menu .menu_right .menu_right_list .menu_list > ul > li:last-child {
  border-bottom: none;
}

.all_menu .all_menu_window .menu .menu_right .menu_right_list .menu_list > ul > li a {
  color: #6c6d73;
  font-size: 15px;
}

.all_menu .all_menu_window .menu .menu_right .menu_right_list .menu_list > ul > li > a {
  flex: 0 0 170px;
}

.all_menu .all_menu_window .menu .menu_right .menu_right_list .menu_list > ul > li > ul {
  flex: 1 auto;
  display: flex;
  flex-wrap: wrap;
}

.all_menu .all_menu_window .menu .menu_right .menu_right_list .menu_list > ul > li > ul li {
  position: relative;
  flex: 1 50%;
  text-indent: 12px;
}

.all_menu .all_menu_window .menu .menu_right .menu_right_list .menu_list > ul > li > ul li:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #6c6d73;
  transform: translateY(-50%);
}

#wrap:before, #wrap:after {
  content: '';
  position: absolute;
  top: 0;
  width: 170px;
  height: 400px;
  background: no-repeat center;
  z-index: -1;
}

#wrap:before {
  left: 0;
  background-image: url("../img/bg_layout_l.png");
}

#wrap:after {
  top: 10px;
  right: 0;
  background-image: url("../img/bg_layout_r.png");
}

#wrap header.on {
  background: #fff;
}

#wrap header .header_top {
  padding-bottom: 72px;
  height: 46px;
}

#wrap header .header_top #lnb {
  font-size: 13px;
  line-height: 46px;
}

#wrap header .header_top #lnb .zoom, #wrap header .header_top #lnb .sound {
  float: left;
}

#wrap header .header_top #lnb .zoom span:first-child, #wrap header .header_top #lnb .sound span:first-child {
  margin-right: 4px;
}

#wrap header .header_top #lnb .zoom img, #wrap header .header_top #lnb .sound img {
  vertical-align: middle;
  transform: translateY(-1px);
}

#wrap header .header_top #lnb .sound {
  margin-left: 20px;
}

#wrap header .header_top #lnb .lnb_menu {
  float: right;
}

#wrap header .header_top #lnb .lnb_menu > ul > li {
  float: left;
  position: relative;
  margin-left: 20px;
  padding-left: 20px;
}

#wrap header .header_top #lnb .lnb_menu > ul > li a {
  color: #6c6d73;
}

#wrap header .header_top #lnb .lnb_menu > ul > li:before {
  content: '';
  position: absolute;
  top: 16px;
  left: 0;
  width: 1px;
  height: 14px;
  background: #e1e1e1;
}

#wrap header .header_top #lnb .lnb_menu > ul > li:first-child {
  margin-left: 0;
  padding-left: 0;
}

#wrap header .header_top #lnb .lnb_menu > ul > li:first-child:before {
  display: none;
}

#wrap header .header_top #lnb .lnb_menu > ul > li.part_web {
  color: #d7021b;
}

#wrap header .header_top #lnb .lnb_menu > ul > li .dropdown_allow {
  padding-right: 15px;
}

#wrap header .header_top #lnb .lnb_menu > ul > li .dropdown_allow:after {
  width: 6.5px;
  right: 0px;
}

#wrap header .header_top #lnb .lnb_menu > ul > li .language_window {
  top: 100%;
  right: 0;
  border-radius: 10px;
}

#wrap header .header_top #lnb .lnb_menu > ul > li .language_window ul {
  line-height: 33px;
}

#wrap header .header_top #lnb .lnb_menu > ul > li .part_web_window {
  top: 100%;
  right: 0;
  width: 360px;
  border-radius: 10px;
}

#wrap header .header_top #lnb .lnb_menu > ul > li .part_web_window ul {
  display: flex;
  flex-wrap: wrap;
}

#wrap header .header_top #lnb .lnb_menu > ul > li .part_web_window ul li {
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px 0;
  width: calc( 100% / 3);
  text-align: center;
  line-height: 1;
}

#wrap header .header_top #lnb .lnb_menu > ul > li .part_web_window ul li:nth-child(1) a img {
  background: #f16669;
}

#wrap header .header_top #lnb .lnb_menu > ul > li .part_web_window ul li:nth-child(2) a img {
  background: #bf9d83;
}

#wrap header .header_top #lnb .lnb_menu > ul > li .part_web_window ul li:nth-child(3) a img {
  background: #4cc771;
}

#wrap header .header_top #lnb .lnb_menu > ul > li .part_web_window ul li:nth-child(4) a img {
  background: #658dd0;
}

#wrap header .header_top #lnb .lnb_menu > ul > li .part_web_window ul li:nth-child(5) a img {
  background: #58606b;
}

#wrap header .header_top #lnb .lnb_menu > ul > li .part_web_window ul li:nth-child(6) a img {
  background: #9385dd;
}

#wrap header .header_top #lnb .lnb_menu > ul > li .part_web_window ul li a {
  display: block;
  line-height: 1.2;
}

#wrap header .header_top #lnb .lnb_menu > ul > li .part_web_window ul li a img {
  width: 56px;
  height: 56px;
  margin: 0 auto 5px;
  object-fit: none;
  border-radius: 20px;
}

#wrap header .header_bottom {
  position: absolute;
  top: 46px;
  width: 100%;
  height: 72px;
  box-sizing: border-box;
  z-index: 2;
}

#wrap header .header_bottom.on {
  height: auto;
  border-bottom: 1px solid #666779;
  background: #fff;
}

#wrap header .header_bottom #gnb {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

#wrap header .header_bottom #gnb .logo {
  position: relative;
  top: 8.5px;
}

#wrap header .header_bottom #gnb .logo a img {
  display: block;
  vertical-align: middle;
}

#wrap header .header_bottom #gnb #gnb_menu {
  flex: 1 1 auto;
}

#wrap header .header_bottom #gnb #gnb_menu > ul {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

#wrap header .header_bottom #gnb #gnb_menu > ul > li {
  max-width: 160px;
  min-width: 138px;
  width: 100%;
  padding-top: 21px;
}

#wrap header .header_bottom #gnb #gnb_menu > ul > li:hover > a ~ ul {
  background: #f6f6f6;
}

#wrap header .header_bottom #gnb #gnb_menu > ul > li > a {
  position: relative;
  margin-left: 17px;
  color: #44465c;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Noto Sans KR', sans-serif;
}

#wrap header .header_bottom #gnb #gnb_menu > ul > li > a:hover {
  color: #ee0700;
}

#wrap header .header_bottom #gnb #gnb_menu > ul > li > a:hover:before {
  content: '';
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #ee0700;
}

#wrap header .header_bottom #gnb #gnb_menu > ul > li .gnb_submenu {
  display: none;
  margin-top: 20px;
  padding: 21px 15px 21px 17px;
  height: 266px;
}

#wrap header .header_bottom #gnb #gnb_menu > ul > li .gnb_submenu li {
  line-height: 1.5;
  padding: 4px 0;
}

#wrap header .header_bottom #gnb #gnb_menu > ul > li .gnb_submenu li a {
  color: #44465c;
  font-size: 15px;
  letter-spacing: -0.5px;
}

#wrap header .header_bottom #gnb #gnb_menu > ul > li .gnb_submenu li a:hover {
  color: #ee0700;
  text-decoration: underline;
}

#wrap header .header_bottom #gnb .support {
  display: flex;
  flex: 0 1 117px;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  top: 16px;
}

#wrap header .header_bottom #gnb .support .support_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: no-repeat center / 20px 20px;
}

#wrap header .header_bottom #gnb .support .search_button {
  background-image: url("../img/ico-search-navy.png");
}

#wrap header .header_bottom #gnb .support .search_button.on {
  background-image: url("../img/ico-close-dark.png");
}

#wrap header .header_bottom #gnb .support .all_menu_button {
  margin-left: 10px;
  background-image: url("../img/ico-menu-navy.png");
}

#wrap header .header_bottom.on:before, #wrap header .header_bottom.on:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #e1e3e6;
}

#wrap header .header_bottom.on:before {
  top: 72px;
}

#wrap header .header_bottom.on:after {
  bottom: 58px;
}

#wrap header .header_bottom.on #gnb #gnb_menu > ul:before {
  content: '';
  position: absolute;
  width: 130px;
  height: 134px;
  top: 140px;
  right: 100%;
  background: url("../img/gnb-visual.png") no-repeat;
}

#wrap header .header_bottom.on #gnb #gnb_menu > ul > li .gnb_submenu {
  display: block;
}

#wrap header .header_bottom .favorite_menu {
  display: none;
  text-align: center;
}

#wrap header .header_bottom .favorite_menu span {
  color: #44465c;
  font-weight: 700;
}

#wrap header .header_bottom .favorite_menu a {
  color: #44465c;
  margin-left: 32px;
  height: 58px;
  line-height: 58px;
}

#wrap header .header_bottom.on .favorite_menu {
  display: block;
}

#wrap header .search_wrap {
  display: none;
  position: absolute;
  width: 100%;
  background: #fff;
  border-top: 1px solid #e1e3e6;
  border-bottom: 1px solid #666779;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

#wrap header .search_wrap.on {
  display: block;
}

#wrap header .search_wrap .inner {
  width: 660px;
  padding: 44px 20px;
  box-sizing: border-box;
}

#wrap header .search_wrap .search form {
  display: flex;
  justify-content: space-between;
}

#wrap header .search_wrap .search form input {
  flex: 1 auto;
  margin-right: 20px;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  line-height: 57px;
  color: #6c6d72;
  font-size: 18px;
  border: 3px solid #ee0700;
  border-radius: 13px;
  box-sizing: border-box;
}

#wrap header .search_wrap .search form button {
  flex: 0 0 60px;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  background: #ee0700 url("../img/ico-search.png") no-repeat center;
  border-radius: 20px;
  box-shadow: 0 7px 15px 0 #ffa590;
}

#wrap header .search_wrap .search_close {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-top: 1px solid #e1e3e6;
  background-color: #fff;
  font-size: 15px;
}

#wrap .container {
  padding-bottom: 120px;
}

footer {
  padding: 40px 0 90px;
  border-top: 1px solid #e1e3e6;
  background: #f6f6f6;
}

footer * {
  font-size: 13px;
}

footer address {
  font-style: normal;
}

footer .footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer_top .footer_nav {
  height: 40px;
  line-height: 40px;
}

footer .footer_top .footer_nav ul {
  display: flex;
}

footer .footer_top .footer_nav ul li {
  margin-left: 20px;
}

footer .footer_top .footer_nav ul li:first-child {
  margin-left: 0;
}

footer .footer_top .footer_link {
  display: flex;
  cursor: pointer;
}

footer .footer_top .footer_link .family_window {
  overflow-x: hidden;
  bottom: 120%;
  width: 243px;
  max-height: 362px;
}

footer .footer_top .footer_link .family_site {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 244px;
  height: 40px;
  background: #fff;
  border-radius: 5px;
}

footer .footer_top .footer_link .family_site:not(:first-child) {
  margin-left: 12px;
}

footer .footer_top .footer_link .family_site .selet_box {
  display: inline-block;
  flex: 1 0 auto;
  line-height: 40px;
  padding-left: 20px;
  color: #000;
}

footer .footer_top .footer_link .family_site .selet_box.dropdown_allow:after {
  right: 20px;
}

footer .footer_top .footer_link .family_site .selet_button {
  flex: 0 0 46px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-left: 1px solid #e1e3e6;
}

footer .footer_bottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 45px;
  word-break: keep-all;
}

footer .footer_bottom .footer_img a:not(:first-child) {
  margin-left: 8px;
}

footer .footer_bottom .footer_img .certification {
  position: relative;
  top: -15px;
}

footer .footer_bottom .footer_img .sns a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #fff no-repeat center;
  border-radius: 100%;
}

footer .footer_bottom .footer_img .sns a:hover {
  background-color: #44465c;
}

footer .footer_bottom .footer_img .sns a img {
  width: 100%;
  height: 100%;
  object-fit: none;
}

footer .footer_bottom .footer_img .sns a.naver {
  background-image: url("../img/ico-naver-small.png");
}

footer .footer_bottom .footer_img .sns a.naver:hover {
  background-image: url("../img/ico-naver-small-on.png");
}

footer .footer_bottom .footer_img .sns a.daum {
  background-image: url("../img/ico-daum-small.png");
}

footer .footer_bottom .footer_img .sns a.daum:hover {
  background-image: url("../img/ico-daum-small-on.png");
}

footer .footer_bottom .footer_img .sns a.facebook {
  background-image: url("../img/ico-facebook-small.png");
}

footer .footer_bottom .footer_img .sns a.facebook:hover {
  background-image: url("../img/ico-facebook-small-on.png");
}

footer .footer_bottom .footer_img .sns a.kakao {
  background-image: url("../img/ico-kakao-small.png");
}

footer .footer_bottom .footer_img .sns a.kakao:hover {
  background-image: url("../img/ico-kakao-small-on.png");
}

footer .footer_bottom .footer_img .sns a.youtube {
  background-image: url("../img/ico-youtube-small.png");
}

footer .footer_bottom .footer_img .sns a.youtube:hover {
  background-image: url("../img/ico-youtube-small-on.png");
}

footer .footer_bottom .footer_img .sns a.insta {
  background-image: url("../img/ico-insta-small.png");
}

footer .footer_bottom .footer_img .sns a.insta:hover {
  background-image: url("../img/ico-insta-small-on.png");
}

footer .footer_bottom .ftxt {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  line-height: 26px;
}

footer .footer_bottom .ftxt * {
  display: inline-block;
}

@media screen and (max-width: 1530px) {
  #wrap:before, #wrap:after {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .quick_menu {
    display: none;
  }
  #wrap header .header_top {
    display: none;
  }
  #wrap header .header_bottom {
    position: relative;
    top: 0;
    height: 64px;
    border-bottom: 1px solid #e1e3e6;
  }
  #wrap header .header_bottom:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    height: 74px;
    background: url("../img/m-header-bg.png") no-repeat center/100% 100%;
    z-index: 1;
  }
  #wrap header .header_bottom #gnb .logo {
    top: 13px;
  }
  #wrap header .header_bottom #gnb .logo img {
    width: 100px;
  }
  #wrap header .header_bottom #gnb #gnb_menu {
    display: none;
  }
  #wrap header .header_bottom #gnb .support {
    top: 8px;
    z-index: 2;
  }
  #wrap header .header_bottom #gnb .support .support_button {
    width: 25px;
    height: 25px;
  }
  #wrap header .header_bottom #gnb .support .search_button {
    background-image: url("../img/ico-search.png");
  }
  #wrap header .header_bottom #gnb .support .search_button.on {
    background-image: url("../img/ico-close.png");
  }
  #wrap header .header_bottom #gnb .support .all_menu_button {
    background-image: url("../img/ico-menu-white.png");
  }
  #wrap header .search_wrap {
    border-top: 0;
  }
  #wrap header .search_wrap .inner {
    width: auto;
    padding: 30px 20px;
  }
  #wrap header .search_wrap .search form input {
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    font-size: 13px;
    border-width: 2px;
    border-radius: 9px;
  }
  #wrap header .search_wrap .search form button {
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
    background-size: 17px 17px;
    border-radius: 13px;
  }
  #wrap header .search_wrap .search .tag_list {
    margin-top: 15px;
  }
  #wrap footer .footer_top {
    flex-direction: column;
    justify-content: center;
  }
  #wrap footer .footer_top .footer_nav {
    margin-bottom: 5px;
  }
  #wrap footer .footer_bottom {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }
  #wrap footer .footer_bottom .customer.service {
    display: none;
  }
  #wrap footer .footer_bottom .footer_img {
    width: 100%;
    text-align: center;
  }
  #wrap footer .footer_bottom .footer_img .certification {
    padding: 15px 0;
    width: 100%;
    top: auto;
    border-top: 1px solid #e1e3e6;
    border-bottom: 1px solid #e1e3e6;
  }
  #wrap footer .footer_bottom .footer_img .sns {
    padding: 15px 0;
  }
  #wrap footer .footer_bottom .footer_txt {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #wrap header .header_bottom {
    height: 52px;
  }
  #wrap header .header_bottom #gnb .logo {
    top: 7px;
  }
  #wrap header .header_bottom:after {
    width: 134px;
    height: 65px;
  }
  footer .footer_bottom .footer_img .certification {
    padding-bottom: 0;
    border-bottom: none;
  }
  footer .footer_bottom .footer_img .certification img {
    height: 27px;
  }
  footer .footer_bottom .ftxt {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .online_guide {
    display: none;
  }
}

@media screen and (max-width: 530px) {
  footer .footer_top .footer_nav ul li {
    margin-left: 3.77vw;
  }
  footer .footer_top .footer_link {
    flex-direction: column;
    width: 100%;
  }
  footer .footer_top .footer_link .family_site {
    width: auto;
  }
  footer .footer_top .footer_link .family_site:not(:first-child) {
    margin: 8px 0 0;
  }
}

#wrap .container .inner {
  display: flex;
  flex-wrap: wrap;
}

#wrap .container .inner aside {
  flex: 1 100%;
  margin: 20px 0 27px;
}

#wrap .container .inner aside ul {
  display: flex;
  justify-content: flex-end;
}

#wrap .container .inner aside ul li:not(:first-child) {
  margin-left: 9px;
  padding-left: 15px;
  background: url("../img/arrow-location.png") no-repeat left center;
}

#wrap .container .inner aside ul li a {
  font-size: 13px;
}

#wrap .container .inner aside ul li a img {
  vertical-align: sub;
}

#wrap .container .inner .snb {
  flex: 0 0 220px;
  margin-right: 60px;
}

#wrap .container .inner .snb .snb_title {
  margin-bottom: 41px;
  color: #3a3a4a;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 26px;
  font-weight: 700;
}

#wrap .container .inner .snb > ul {
  padding-top: 10px;
  border-top: 1px solid #666779;
}

#wrap .container .inner .snb > ul > li {
  border-bottom: 1px solid #e1e3e6;
}

#wrap .container .inner .snb > ul > li > a {
  display: block;
  position: relative;
  height: 41px;
  line-height: 41px;
  font-size: 15px;
  letter-spacing: -0.5px;
}

#wrap .container .inner .snb > ul > li > a.on {
  color: #ee0700;
  font-weight: 700;
}

#wrap .container .inner .content {
  flex: 1;
}

#wrap .container .inner .content .survey {
  margin-top: 80px;
}

#wrap .container .inner .content .survey * {
  font-size: 15px;
}

#wrap .container .inner .content .survey > ul > li {
  padding: 20px 0;
  border-top: 1px solid #e1e3e6;
}

#wrap .container .inner .content .survey > ul > li input[type=radio] {
  display: none;
}

#wrap .container .inner .content .survey > ul > li .survey_title {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  width: 76px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  background-color: #666779;
  border-radius: 10px 10px 10px 0;
}

#wrap .container .inner .content .survey > ul > li .survey_content {
  display: inline-block;
  line-height: 32px;
}

#wrap .container .inner .content .survey > ul > li .survey_content a {
  margin-left: 40px;
}

#wrap .container .inner .content .survey > ul > li .survey_content a:first-child {
  margin-left: 0;
}

#wrap .container .inner .content .survey > ul > li .survey_content a img {
  margin-right: 7px;
  vertical-align: sub;
}

#wrap .container .inner .content .survey > ul > li .survey_content .survey_score {
  display: flex;
  margin: 10px 0 20px;
}

#wrap .container .inner .content .survey > ul > li .survey_content .survey_score li {
  margin-left: 40px;
}

#wrap .container .inner .content .survey > ul > li .survey_content .survey_score li:first-child {
  margin-left: 0;
}

#wrap .container .inner .content .survey > ul > li .survey_content .survey_score li label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#wrap .container .inner .content .survey > ul > li .survey_content .survey_score li label span {
  position: relative;
}

#wrap .container .inner .content .survey > ul > li .survey_content .survey_score li label span:before {
  content: '';
  display: inline-block;
  position: relative;
  margin: 0 10px;
  top: 6px;
  width: 20px;
  height: 20px;
  border: 1px solid #e1e3e6;
  border-radius: 50%;
  box-sizing: border-box;
}

#wrap .container .inner .content .survey > ul > li .survey_content .survey_score li input[type=radio]:checked + label span:before {
  border: 6px solid #666779;
}

#wrap .container .inner .content .survey > ul > li .survey_content .input_text {
  height: 48px;
}

#wrap .container .inner .content .survey > ul > li .survey_content .input_text input {
  height: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

#wrap .container .inner .content .survey > ul > li .survey_content .input_text input[type=text] {
  margin-right: 11px;
  padding: 0 12px;
  max-width: 600px;
  width: calc(100% - 92px);
  border: 2px solid #e1e3e6;
}

#wrap .container .inner .content .survey > ul > li .survey_content .input_text input[type=submit] {
  width: 80px;
  color: #fff;
  background: #44465c;
  border: none;
}

#wrap .container .inner .content .survey > ul > li .survey_content .input_text input[type=submit]:hover {
  background: #333340;
}
