@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: 'NBG';
  font-weight: 400;
  src: url(../fonts/NanumBarunGothicSubset.eot);
  src: url(../fonts/NanumBarunGothicSubset.eot?#iefix) format("embedded-opentype"), url(../fonts/NanumBarunGothicSubset.woff2) format("woff2"), url(../fonts/NanumBarunGothicSubset.woff) format("woff"), url(../fonts/NanumBarunGothicSubset.ttf) format("truetype");
}

@font-face {
  font-family: 'NBG';
  font-weight: 700;
  src: url(../fonts/NanumBarunGothicBoldSubset.eot);
  src: url(../fonts/NanumBarunGothicBoldSubset.eot?#iefix) format("embedded-opentype"), url(../fonts/NanumBarunGothicBoldSubset.woff2) format("woff2"), url(../fonts/NanumBarunGothicBoldSubset.woff) format("woff"), url(../fonts/NanumBarunGothicBoldSubset.ttf) format("truetype");
}

/*initial css*/
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  color: #6c6d73;
  font-family: 'NBG', sans-serif;
  line-height: 1.5;
}

html, body, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3a3a4a;
}

#gnb a {
  font-family: 'Noto Sans KR', sans-serif;
}

.dropdown_allow {
  position: relative;
}

.dropdown_allow:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 10px;
  height: 8px;
  background: url("../img/arrow-navy.png") no-repeat right center/contain;
  transform: translateY(-50%);
}

.back_to_top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  background: url(../img/btn-direction-top.png) no-repeat;
  z-index: 10;
}

.point {
  color: #ee0700;
}

.inner {
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 12px;
}

#wrap header .header_top {
  height: 46px;
}

#wrap header .header_top * {
  font-size: 13px;
  line-height: 46px;
}

#wrap header .header_top #lnb {
  overflow: hidden;
}

#wrap header .header_top #lnb .zoom, #wrap header .header_top #lnb .sound {
  float: left;
}

#wrap header .header_top #lnb .zoom span:first-child, #wrap header .header_top #lnb .sound span:first-child {
  margin-right: 4px;
}

#wrap header .header_top #lnb .zoom img, #wrap header .header_top #lnb .sound img {
  vertical-align: middle;
  transform: translateY(-1px);
}

#wrap header .header_top #lnb .sound {
  margin-left: 20px;
}

#wrap header .header_top #lnb .lnb_menu {
  float: right;
}

#wrap header .header_top #lnb .lnb_menu ul li {
  float: left;
  position: relative;
  margin-left: 20px;
  padding-left: 20px;
}

#wrap header .header_top #lnb .lnb_menu ul li:before {
  content: '';
  position: absolute;
  top: 16px;
  left: 0;
  width: 1px;
  height: 14px;
  background: #e1e1e1;
}

#wrap header .header_top #lnb .lnb_menu ul li:first-child {
  margin-left: 0;
  padding-left: 0;
}

#wrap header .header_top #lnb .lnb_menu ul li:first-child:before {
  display: none;
}

#wrap header .header_top #lnb .lnb_menu ul li.part_web {
  color: #d7021b;
}

#wrap header .header_top #lnb .lnb_menu ul li .dropdown_allow {
  padding-right: 15px;
}

#wrap header .header_top #lnb .lnb_menu ul li .dropdown_allow:after {
  width: 6.5px;
  right: 0px;
}

#wrap header .header_bottom {
  height: 72px;
}

#wrap header .header_bottom #gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#wrap header .header_bottom #gnb .logo a img {
  display: block;
  vertical-align: middle;
}

#wrap header .header_bottom #gnb #gnb_menu {
  flex: 1 1 auto;
}

#wrap header .header_bottom #gnb #gnb_menu ul {
  display: flex;
  justify-content: flex-end;
}

#wrap header .header_bottom #gnb #gnb_menu ul li {
  max-width: 160px;
  min-width: 138px;
  width: 100%;
}

#wrap header .header_bottom #gnb #gnb_menu ul li a {
  position: relative;
  margin-left: 17px;
  color: #44465c;
  font-size: 20px;
  font-weight: 700;
}

#wrap header .header_bottom #gnb #gnb_menu ul li a:hover {
  color: #ee0700;
}

#wrap header .header_bottom #gnb #gnb_menu ul li a:hover:before {
  content: '';
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #ee0700;
}

#wrap header .header_bottom .support {
  display: flex;
  flex: 0 1 117px;
  flex-direction: row;
  justify-content: flex-end;
}

#wrap header .header_bottom .support .search_button, #wrap header .header_bottom .support .all_menu_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

#wrap header .header_bottom .support .all_menu_button {
  margin-left: 10px;
}

footer {
  padding: 40px 0 77px;
  border-top: 1px solid #e1e3e6;
  background: #f6f6f6;
}

footer * {
  font-size: 13px;
}

footer address {
  font-style: normal;
}

footer .footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer_top .footer_nav ul {
  display: flex;
}

footer .footer_top .footer_nav ul li {
  margin-right: 20px;
}

footer .footer_top .footer_nav ul li:last-child {
  margin-right: 0;
}

footer .footer_top .footer_link {
  display: flex;
  cursor: pointer;
}

footer .footer_top .footer_link .family_window {
  overflow-x: hidden;
  position: absolute;
  bottom: 120%;
  width: 243px;
  max-height: 362px;
  padding: 15px 20px;
  border: 1px solid #666779;
  background: #fff;
  border-radius: 5px;
  box-sizing: border-box;
}

footer .footer_top .footer_link .family_window a {
  font-size: 15px;
  line-height: 2;
}

footer .footer_top .footer_link .family_window.on {
  display: block;
}

footer .footer_top .footer_link .family_site {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 244px;
  height: 40px;
  background: #fff;
  border-radius: 5px;
}

footer .footer_top .footer_link .family_site:not(:first-child) {
  margin-left: 12px;
}

footer .footer_top .footer_link .family_site .selet_box {
  display: inline-block;
  flex: 1 0 auto;
  line-height: 40px;
  padding-left: 20px;
  color: #000;
}

footer .footer_top .footer_link .family_site .selet_box.dropdown_allow:after {
  right: 20px;
}

footer .footer_top .footer_link .family_site .selet_button {
  flex: 0 0 46px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-left: 1px solid #e1e3e6;
}

footer .footer_top .family_window {
  display: none;
}

footer .footer_bottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 45px;
  line-height: 26px;
}

footer .footer_bottom .footer_img a:not(:first-child) {
  margin-left: 12px;
}

footer .footer_bottom .footer_img .certification {
  position: relative;
  top: -15px;
}

footer .footer_bottom .footer_img .sns {
  display: flex;
  justify-content: flex-end;
}

footer .footer_bottom .footer_img .sns a {
  display: flex;
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 100%;
}

footer .footer_bottom .footer_img .sns a:hover {
  background: #44465c;
}

footer .footer_bottom .footer_img .sns a img {
  width: 100%;
  height: 100%;
  object-fit: none;
}

footer .footer_bottom .ftxt {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

footer .footer_bottom .ftxt * {
  display: inline-block;
}

@media screen and (max-width: 991px) {
  body {
    background: skyblue;
  }
}
