// component
.dropdown_allow{
  // padding-right: 15px;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 10px;
    height: 8px;
    background: url('../img/arrow-navy.png') no-repeat right center / contain;
    transform: translateY( -50% );
  }
  &.on:after{
    transform: translateY( -50% ) rotate( 180deg );
  }
  &.red:after{
    background-image: url('../img/arrow-gray.png');
  }
  &.red.on:after{
    background-image: url('../img/arrow-red-on.png');
    transform: translateY( -50% );
  }
}

.hangul{
  list-style: hangul;
}
.quick_menu{
  position: fixed;
  top: 50%;
  right: 0;
  width: 40px;
  transform: translateY( -50% );
  z-index: 1;
  ul{
    li{
      margin-top: 1px;
      transition: transform .4s;
      &:first-child{
        margin-top: 0;
      }
      &:hover{
        transform: translateX( -85px );
      }
      a{
        display: flex;
        align-items: center;
        width: 135px;
        height: 40px;
        line-height: 1.1;
        color: $fontWhite;
        font-size: $fontSmall;
        background: $bgColorDark;

        img{
          display: inline-block;
          width: 40px;
          height: 40px;
          object-fit: none;
        }
      }
    }
  }
}

.back_to_top{
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  background: url('../img/btn-direction-top.png') no-repeat;
  z-index: 1;
  &:hover{
    background-image: url('../img/btn-direction-top-on.png');
  }
}

.point{
  color: $red;
}
.point_dark{
  color: $darkRed;
}
.underline{
  text-decoration: underline;
}

.pointer{
  cursor: pointer;
}

.button{
  display: inline-block;
  padding: 0 16px;
  color: $fontWhite;
  font-size: var(--change15);
  background: $gbtnColor;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  &:hover{
    background: $gbtnColorHover;
  }
  &.light{
    color: $fontColorBasic;
    background: $bgWhite;
    border: 1px solid $borderLineDark;
    &:hover{
      background: $gnbBgColor;
    }
  }
  &.small{
    margin-top: 10px;
    padding: 0 12px;
    height: 32px;
    line-height: 32px;
  }
}

.blank{
  &:after{
    content: '';
    display: inline-block;
    position: relative;
    margin-left: 3px;
    top: 1px;
    width: 12px;
    height: 12px;
    background: url('../img/ico-link2.png') no-repeat center / cover;
  }
}

.utililty_button{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: $bgColor;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  &:hover{
    background-color: $bgColorDark;
  }
}
.print_button{
  background-image: url('../img/ico-print.png');
  &:hover{
    background-image: url('../img/ico-print-on.png');
  }
}
.share_button{
  background-image: url('../img/ico-share.png');
  &:hover{
    background-image: url('../img/ico-share-on.png');
  }
}


.window{
  display: none;
  // overflow-x: hidden;
  position: absolute;
  // bottom: 120%;
  // width: 243px;
  // max-height: 362px;
  min-width: 130px;
  padding: 15px 20px;
  border: 1px solid #666779;
  background: $bgWhite;
  border-radius: 5px;
  box-sizing: border-box;
  z-index: 5;
  a{
    font-size: var(--change15);
    line-height: 2;
  }
  &.on{
    display: block;
  }
}

.tag_list{
  margin-top: 30px;
  a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin: 8px 5px 0 0;
    padding: 0 12px;
    max-width: 140px;
    height: 40px;
    line-height: 40px;
    color: $fontColorDarklight;
    font-size: var(--change15);
    background: $bgColor;
    border: 1px solid transparent;
    border-radius: 8px;
    box-sizing: border-box;
    &:hover{
      background: transparent;
      border: 1px solid $bgColor;
    }
  }
}


.sub_page_banner{
  display: flex;
  align-items: center;
  position: relative;
  // margin-bottom: 50px;
  margin-bottom: 15px;
  padding: 26px 30px;
  // min-height: 95px;
  font-size: var(--change15);
  line-height: 24px;
  background: $gnbBgColor;
  border-radius: 10px 50px 10px 10px;
  img{
    margin-right: 20px;
    object-fit: none;
  }
}

.tab_menu{
  margin-bottom: 40px;
  ul{
    display: flex;
    li{
      flex: 1;
      overflow: hidden;
      a{
        display: block;
        padding: 0 10px;
        width: 100%;
        height: 100%;
        line-height: 48px;
        text-align: center;
        color: $fontColorDarklight;
        font-size: var( --change15);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: 1px solid $borderLine;
        box-sizing: border-box;
        &:not(:first-child){
          border-left: 0;
        }
        &:hover{
          background: $gnbBgColor;
        }
        &.on{
          color: $fontWhite;
          background: $red;
        }
      }
    }
  }
}


.bullet{
  margin-top: 50px;
  margin-bottom: 20px;
  color: $fontColorDark;
  font-size: var(--change21);
  font-weight: 700;
  img{
    position: relative;
    vertical-align: middle;
    top: -1px;
    margin-right: 8px;
  }
  &.small{
    font-size: $fontNormal;
    margin: 40px 0 15px;
  }
}

.step{
  position: relative;
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: 50px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: $borderLine;
    z-index: -1;
  }
  & > li{
    display: flex;
    & + li{
      margin-top: 30px;
    }
    div:nth-child(1){
      margin-right: 30px;
    }
    div:nth-child(2){
      margin-top: 7px;
      margin-right: 7px;
    }
    div:nth-child(3){
      margin-top: 7px;
      strong{
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}

.number{
  display: inline-block;
  width: 23px;
  height: 23px;
  line-height: 25px;
  text-align: center;
  font-size: $fontSmall;
  color: $fontWhite;
  background: $bgColorDark;
  border-radius: 50px;
}

.margin_left_10{
  margin-left: 10px;
}
.list_style{
  &:not(:first-child){
    margin-top: 7px;
  }

  &:before{
    content: '';
    position: relative;
    display: inline-block;
    margin-right: 7px;
    width: 3px;
    height: 3px;
    background-color: $bgColorDark;
    border-radius: 7px;
    bottom: 4px;
    left: 0;
  }
}

@media ( max-width: 768px){
  .bullet{
    margin-top: 40px;
    img{
      height: 14px;
    }
    & + .bullet{
      margin-top: 40px;
    }
    &.small{
      margin-top: 30px;
    }
  }
}
