@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
// font-family: 'Noto Sans KR', sans-serif;


@font-face {
  font-family: 'NBG';
  font-weight: 400;
  src: url(../fonts/NanumBarunGothicSubset.eot);
  src: url(../fonts/NanumBarunGothicSubset.eot?#iefix) format('embedded-opentype'), url(../fonts/NanumBarunGothicSubset.woff2) format('woff2'), url(../fonts/NanumBarunGothicSubset.woff) format('woff'), url(../fonts/NanumBarunGothicSubset.ttf) format('truetype')
}

@font-face {
  font-family: 'NBG';
  font-weight: 700;
  src: url(../fonts/NanumBarunGothicBoldSubset.eot);
  src: url(../fonts/NanumBarunGothicBoldSubset.eot?#iefix) format('embedded-opentype'), url(../fonts/NanumBarunGothicBoldSubset.woff2) format('woff2'), url(../fonts/NanumBarunGothicBoldSubset.woff) format('woff'), url(../fonts/NanumBarunGothicBoldSubset.ttf) format('truetype')
}



/*initial css*/

*{
  margin: 0; padding: 0;
}

html,body{
  height: 100%;
}

body{
  color: $fontColorDarklight;
  font-family: 'NBG', sans-serif;
  line-height: 1.5;
}

ul > li{
  list-style: none;
}
ol > li{
  margin-left: 20px;
  margin-top: 7px;
  &:not(:first-child){
    // margin-bottom: 7px;
  }
}

a{
  text-decoration: none;
  font-family: 'NBG', sans-serif;
  color: $fontColorDark;
  // transition: .5s;
  &:hover{
    // color: $fontColorHover;
  }
}
input{
  outline: none;
  font-family: inherit;
}

button{
  border: 0;
}
