/*initial css*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
// font-family: 'Noto Sans KR', sans-serif;

@font-face {
  font-family: 'NBG';
  font-weight: 400;
  src: url(../fonts/NanumBarunGothicSubset.eot);
  src: url(../fonts/NanumBarunGothicSubset.eot?#iefix) format('embedded-opentype'), url(../fonts/NanumBarunGothicSubset.woff2) format('woff2'), url(../fonts/NanumBarunGothicSubset.woff) format('woff'), url(../fonts/NanumBarunGothicSubset.ttf) format('truetype')
}

@font-face {
  font-family: 'NBG';
  font-weight: 700;
  src: url(../fonts/NanumBarunGothicBoldSubset.eot);
  src: url(../fonts/NanumBarunGothicBoldSubset.eot?#iefix) format('embedded-opentype'), url(../fonts/NanumBarunGothicBoldSubset.woff2) format('woff2'), url(../fonts/NanumBarunGothicBoldSubset.woff) format('woff'), url(../fonts/NanumBarunGothicBoldSubset.ttf) format('truetype')
}

*{ margin: 0; padding: 0; }

html,body{
  height: 100%;
}

body{
  color: $fontColorDarklight;
  font-family: 'NBG', sans-serif;
  line-height: 1.5;
}

ul > li{
  list-style: none;
}
ol > li{
  margin-left: 20px;
  margin-top: 7px;
  &:not(:first-child){
    // margin-bottom: 7px;
  }
}

a{
  text-decoration: none;
  font-family: 'NBG', sans-serif;
  color: $fontColorDark;
  // transition: .5s;
  &:hover{
    // color: $fontColorHover;
  }
}

form{
  display: inline;
}

input, select{
  outline: none;
  &:focus{
    border: 1px solid $borderLineDark;
  }
}

input{
  outline: none;
  font-family: inherit;
  box-sizing: border-box;
}

select{
  position: relative;
  top: 2px;
}

select, .bbs_search_bar{
  padding: 0 0 0 8px;
  height: 32px;
  line-height: 32px;
  font-size: $change15;
  border: 1px solid $borderLine;
  border-radius: 5px;
  box-sizing: border-box;
}

button{
  border: 0;
}
