body.on{
  overflow: hidden;
}

.inner{
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 12px;
}

.all_menu{
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // text-align: center;
  background-color: rgba(29, 29, 29, 0.75);
  box-sizing: border-box;
  z-index: 100;
  &.on{
    display: flex;
  }
  .all_menu_window{
    position: relative;
    max-width: 1180px;
    width: 90%;
    background: $bgWhite;
    box-shadow: 0 0 3px $black;
    .all_menu_button{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 20px;
      right: 20px;
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
    .title{
      padding: 0 30px;
      height: 72px;
      color: $fontWhite;
      font-size: $fontBig;
      font-weight: 700;
      background: $bgColorDark;
      line-height: 72px;
    }
    .link{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 60px;
      height: 48px;
      font-size: var(--change15);
      border-bottom: 1px solid $borderLine;
      li{
        margin-left: 15px;
        padding-left: 15px;
        line-height: 1;
        border-left: 1px solid $borderLine;
        &:first-child{
          margin-left: 0;
          padding-left: 0;
          border-left: none;
        }
      }
    }
    .menu{
      display: flex;
      .menu_left{
        flex: 0 0 220px;
        background: $bgColor;
        ul{
          padding-top: 30px;
          li{
            display: block;
            color: #3a3a4a;
            font-size: 16px;
            line-height: 42px;
            cursor: pointer;
            a{
              display: block;
              width: 100%;
              height: 100%;
              padding: 0 30px;
              box-sizing: border-box;
              &.on, &:hover{
                color: $fontWhite;
                background: $red;
              }
            }
          }
        }
      }
      .menu_right{
        overflow-y: scroll;
        flex: 1 auto;
        height: 700px;
        padding: 30px 60px;
        box-sizing: border-box;
        .menu_right_list{
          // 원래는 모바일 메뉴를 만들어야 하지만 임시로 스크롤 처리하기 위해 width 700px 고정
          width: 700px;
          // &.hide{
          //   display: none;
          // }
          .menu_list{

            & + .menu_list{
              margin-top: 45px;
            }
            .menu_list_title{
              margin-bottom: 15px;
              font-weight: 700;
            }
            .main_menu{
              border-top: 2px solid $borderLineDark;
              border-bottom: 1px solid $borderLine;
              & > li{
                display: flex;
                padding: 16px 0;
                border-bottom: 1px solid $borderLine;
                &:last-child{
                  border-bottom: none;
                }
                a{
                  color: $fontColorDarklight;
                  font-size: var(--change15);
                }
                & > a{
                  flex: 0 0 170px;
                }
                .sub_menu{
                  flex: 1 auto;
                  display: flex;
                  flex-wrap: wrap;
                  li{
                    position: relative;
                    flex: 1 50%;
                    padding-left: 12px;
                    box-sizing: border-box;
                    &:before{
                      content: '';
                      display: block;
                      position:absolute;
                      top: 9px;
                      left: 0;
                      width: 3px;
                      height: 3px;
                      border-radius: 50%;
                      background: $fontColorDarklight;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#wrap{
  &:before, &:after{
    content: '';
    position: absolute;
    top: 0;
    width: 170px;
    height: 400px;
    background: no-repeat center;
    z-index: -1;
  }
  &:before{
    left: 0;
    background-image: url('../img/bg_layout_l.png');
  }
  &:after{
    top: 10px;
    right: 0;
    background-image: url('../img/bg_layout_r.png');
  }
  header{
    // position: relative;
    &.on{
      background: $bgWhite;
    }
    .header_top{
      padding-bottom: 72px;
      height: 46px;
      #lnb{
        // overflow: hidden;
        font-size: $fontSmall;
        line-height: 46px;
        .zoom, .sound{
          float: left;
          span:first-child{
            margin-right: 4px;
          }
          img{
            vertical-align: middle;
            transform: translateY( -1px );
          }
        }
        .sound{
          margin-left: 20px;
        }
        .lnb_menu{
          float: right;
          & > ul > li{
            float: left;
            position: relative;
            margin-left: 20px;
            padding-left: 20px;
            a{
              color: $fontColorDarklight;
            }
            &:before{
              content: '';
              position: absolute;
              top: 16px;
              left: 0;
              width: 1px;
              height: 14px;
              background: #e1e1e1;
            }
            &:first-child{
              margin-left: 0;
              padding-left: 0;
              &:before{
                display: none;
              }
            }
            &.part_web{
              color: $darkRed;
            }
            .dropdown_allow{
              padding-right: 15px;
              &:after{
                width: 6.5px;
                right: 0px;
              }
            //   background-image: url('../img/arrow-navy-8x6.png');
            }
            .language_window{
              top: 100%;
              right: 0;
              border-radius: 10px;
              ul{
                line-height: 33px;
              }
            }
            .part_web_window{
              top: 100%;
              right: 0;
              width: 360px;
              border-radius: 10px;
              ul{
                display: flex;
                flex-wrap: wrap;
                li{
                  display: inline-block;
                  margin-bottom: 10px;
                  padding: 5px 0;
                  width: calc( 100% / 3 );
                  text-align: center;
                  line-height: 1;
                  &:nth-child(1) a img{
                    background: #f16669;
                  }
                  &:nth-child(2) a img{
                    background: #bf9d83;
                  }
                  &:nth-child(3) a img{
                    background: #4cc771;
                  }
                  &:nth-child(4) a img{
                    background: #658dd0;
                  }
                  &:nth-child(5) a img{
                    background: #58606b;
                  }
                  &:nth-child(6) a img{
                    background: #9385dd;
                  }
                  a{
                    display: block;
                    line-height: 1.2;
                    img{
                      width: 56px;
                      height: 56px;
                      margin: 0 auto 5px;
                      object-fit: none;
                      border-radius: 20px;
                    }
                    // <li><a href="#" class="insurance">노인장기<br>요양보험</a></li>
                    // <li><a href="#" class="information">요양기관<br>정보마당</a></li>
                    // <li><a href="#" class="edi">EDI<br>서비스</a></li>
                    // <li><a href="#" class="checkup">건강검진<br>기관포털</a></li>
                    // <li><a href="#" class="sharing">건강보험자료<br>공유서비스</a></li>
                  }
                }
              }
            }
            // list 끝
          }
        }
        // lnb 영역 끝
      }
    }
    .header_bottom{
      position: absolute;
      top: 46px;
      width: 100%;
      height: 72px;
      box-sizing: border-box;
      z-index: 2;
      &.on{
        height: auto;
        border-bottom: 1px solid $borderLineDark;
        background: $bgWhite;
      }
      #gnb{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // align-items: center;
        height: 100%;
        .logo{
          position: relative;
          top: 8.5px;
          a{
            img{
              display: block;
              vertical-align: middle;
            }
          }
          // 로고 끝
        }
        #gnb_menu{
          flex: 1 1 auto;
          & > ul{
            display: flex;
            justify-content: flex-end;
            position: relative;
            & > li{
              // float: left;
              max-width: 160px;
              min-width: 138px;
              width: 100%;
              padding-top: 21px;
              // height: 55px;
              // line-height: 72px;
              // &:hover a ~ ul.gnb_submenu{
                // display: block;
              // }
              &:hover > a ~ ul{
                background: $bgColor;
              }
              & > a{
                position: relative;
                margin-left: 17px;
                color: $gnbColor;
                font-size: $titleSmall;
                font-weight: 700;
                font-family: 'Noto Sans KR', sans-serif;
                // line-height: 1;
                // line-height: 72px;
                &:hover, &.on{
                  color: $red;
                  &:before{
                    content: '';
                    position: absolute;
                    bottom: -4px;
                    width: 100%;
                    height: 2px;
                    background: $red;
                  }
                }
              }
              .gnb_submenu{
                display: none;
                margin-top: 20px;
                padding: 21px 15px 21px 17px;
                height: 266px;
                li{
                  line-height: 1.5;
                  padding: 4px 0;
                  a{
                    color: $gnbColor;
                    font-size: var(--change15);
                    letter-spacing: -0.5px;
                    &:hover{
                      color: $red;
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
          // gnb 메뉴 끝
        }
        .support{
          display: flex;
          flex: 0 1 117px;
          flex-direction: row;
          justify-content: flex-end;
          position: relative;
          top: 16px;
          .support_button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            cursor: pointer;
            background: no-repeat center / 20px 20px;
          }
          .search_button{
            background-image: url('../img/ico-search-navy.png');
            &.on{
              background-image: url('../img/ico-close-dark.png');
            }
          }
          .all_menu_button{
            margin-left: 10px;
            background-image: url('../img/ico-menu-navy.png');
          }
        }
      // gnb 영역 끝
      }
      &.on{
        &:before, &:after{
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background: $borderLine;
        }
        &:before{
          top: 72px;
        }
        &:after{
          bottom: 58px;
        }
        #gnb #gnb_menu > ul{
          &:before{
            content: '';
            position: absolute;
            width: 130px;
            height: 134px;
            top: 140px;
            right: 100%;
            background: url('../img/gnb-visual.png') no-repeat;
          }
          & > li .gnb_submenu{
            display: block;
          }
        }
      }
      .favorite_menu{
        display: none;
        text-align: center;
        span{
          color: $gnbColor;
          font-weight: 700;
        }
        a{
          color: $gnbColor;
          margin-left: 32px;
          height: 58px;
          line-height: 58px;
        }
      }
      &.on .favorite_menu{
        display: block;
      }
      // header_bottom
    }
    // 컴퍼넌트에서 되면 지우기
    // .search_wrap{
    //   display: none;
    //   position: absolute;
    //   // top: 100%;
    //   // top: 118px;
    //   width: 100%;
    //   background: $bgWhite;
    //   border-top: 1px solid $borderLine;
    //   border-bottom: 1px solid $borderLineDark;
    //   box-shadow: 0 6px 6px rgba(0,0,0,0.15);
    //   z-index: 1;
    //   &.on{
    //     display: block;
    //   }
    //   .inner{
    //     width: 660px;
    //     padding: 44px 20px;
    //     box-sizing: border-box;
    //   }
    //   .search{
    //     // width: 50%;
    //     form{
    //       display: flex;
    //       justify-content: space-between;
    //       input{
    //         flex: 1 auto;
    //         margin-right: 20px;
    //         padding: 0 20px;
    //         width: 100%;
    //         height: 60px;
    //         line-height: 57px;
    //         color: #6c6d72;
    //         font-size: 18px;
    //         border: 3px solid $red;
    //         border-radius: 13px;
    //         box-sizing: border-box;
    //       }
    //       button{
    //         flex: 0 0 60px;
    //         top: 0;
    //         right: 0;
    //         width: 60px;
    //         height: 60px;
    //         text-indent: -9999px;
    //         background: $red url('../img/ico-search.png') no-repeat center;
    //         border-radius: 20px;
    //         box-shadow: 0 7px 15px 0 #ffa590;
    //       }
    //     }
    //   }
    //   .search_close{
    //     // display: none;
    //     width: 100%;
    //     height: 40px;
    //     line-height: 40px;
    //     text-align: center;
    //     border-top: 1px solid #e1e3e6;
    //     background-color: #fff;
    //     font-size: 15px;
    //   }
    //   // search_bar end
    // }
  }
  .container{
    // 값 너무 커서 재조정, 필요한 곳만 추가
    padding-bottom: 120px;
    .content{
      width: 100%;
      // 모바일 사이즈일 때?
      // padding: 25px 0 30px;
    }
  }
}

footer{
  padding: 40px 0 90px;
  border-top: 1px solid $borderLine;
  & *{
    font-size: $fontSmall;
  }
  background: $bgColor;
  address{
    font-style: normal;
  }
  .footer_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer_nav{
      height: 40px;
      line-height: 40px;
      ul{
        display: flex;
        li{
          margin-left: 20px;
          &:first-child{
            margin-left: 0;
          }
        }
      }
    }
    .footer_link{
      display: flex;
      cursor: pointer;
      .family_window{
        overflow-x: hidden;
        bottom: 120%;
        width: 243px;
        max-height: 362px;
      }
      .family_site{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 244px;
        height: 40px;
        background: $bgWhite;
        border-radius: 5px;
        &:not(:first-child){
          margin-left: 12px;
        }
        .selet_box{
          display: inline-block;
          flex: 1 0 auto;
          line-height: 40px;
          padding-left: 20px;
          color: $black;
          // background-position: right 10px center;
          &.dropdown_allow:after{
            right: 20px;
          }
        }
        .selet_button{
          flex: 0 0 46px;
          display: inline-block;
          text-align: center;
          line-height: 40px;
          border-left: 1px solid $borderLine;
        }
      }
    }
    // 푸터 탑 끝
  }
  .footer_bottom{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 45px;
    word-break: keep-all;
    .footer_img{
      a:not(:first-child){
        margin-left: 8px;
      }
      .certification{
        position: relative;
        top: -15px;
        // a{
        //   display: inline-block;
        // }
      }
      .sns{
        // display: flex;
        // justify-content: flex-end;
        a{
          // display: flex;
          display: inline-block;
          width: 32px;
          height: 32px;
          background: $bgWhite no-repeat center;
          border-radius: 100%;
          &:hover{
            background-color: $gnbColor;
          }
          img{
            width: 100%;
            height: 100%;
            object-fit: none;
          }
          &.naver{
            background-image: url('../img/ico-naver-small.png');
            &:hover{
              background-image: url('../img/ico-naver-small-on.png');
            }
          }
          &.daum{
            background-image: url('../img/ico-daum-small.png');
            &:hover{
              background-image: url('../img/ico-daum-small-on.png');
            }
          }
          &.facebook{
            background-image: url('../img/ico-facebook-small.png');
            &:hover{
              background-image: url('../img/ico-facebook-small-on.png');
            }
          }
          &.kakao{
            background-image: url('../img/ico-kakao-small.png');
            &:hover{
              background-image: url('../img/ico-kakao-small-on.png');
            }
          }
          &.youtube{
            background-image: url('../img/ico-youtube-small.png');
            &:hover{
              background-image: url('../img/ico-youtube-small-on.png');
            }
          }
          &.insta{
            background-image: url('../img/ico-insta-small.png');
            &:hover{
              background-image: url('../img/ico-insta-small-on.png');
            }
          }
        }
      }
    }
    .ftxt{
      display: flex;
      justify-content: flex-end;
      flex-direction: row-reverse;
      line-height: 26px;
      & *{
        display: inline-block;
      }

    }
  }
}



@media screen and ( max-width: 1530px ){
  #wrap:before, #wrap:after{
    display: none;
  }
}
// 1180

// 1080

@media screen and ( max-width: 991px ){
  .quick_menu{
    display: none;
  }
  #wrap{
    header{
      .header_top{
        display: none;
      }
      .header_bottom{
        position: relative;
        top: 0;
        &:after{
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 180px;
          height: 74px;
          background: url('../img/m-header-bg.png') no-repeat center / 100% 100%;
          z-index: 1;
        }
        height: 64px;
        border-bottom: 1px solid $borderLine;
        #gnb{
          .logo{
            top: 13px;
            img{
              width: 100px;
            }
          }
          #gnb_menu{
            display: none;
          }
          .support{
            top: 8px;
            z-index: 2;
            .support_button{
              width: 25px;
              height: 25px;
            }
            .search_button{
              background-image: url('../img/ico-search.png');
              &.on{
                background-image: url('../img/ico-close.png');
              }
            }
            .all_menu_button{
              background-image: url('../img/ico-menu-white.png')
            }
          }
        }
      }
    }
    .container{
      padding-bottom: 0;
      .content{
        padding: 25px 0 30px;
      }
    }
    footer{
      .footer_top{
        flex-direction: column;
        justify-content: center;
        .footer_nav{
          margin-bottom: 5px;
        }
      }
      .footer_bottom{
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        .customer.service{
          display: none;
        }
        .footer_img{
          width: 100%;
          text-align: center;
          .certification{
            padding: 15px 0;
            width: 100%;
            top: auto;
            border-top: 1px solid $borderLine;
            border-bottom: 1px solid $borderLine;
          }
          .sns{
            padding: 15px 0;
          }
        }
        .footer_txt{
          text-align: center;
        }
        // footer bottom end
      }
    }
  }
}

// 864

@media screen and ( max-width: 768px ){


  #wrap header .header_bottom{
    height: 52px;
    #gnb .logo{
      top: 7px;
    }
    &:after{
      width: 134px;
      height: 65px;
    }
  }

  footer .footer_bottom{
    .footer_img .certification{
      padding-bottom: 0;
      border-bottom: none;
      & img{
        height: 27px;
      }
    }
    .ftxt{
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .online_guide{
    display: none;
  }
}


@media screen and ( max-width: 530px ){
  footer .footer_top{
    .footer_nav ul li{
      margin-left: 3.77vw;
    }
    .footer_link{
      flex-direction: column;
      width: 100%;
      .family_site{
        width: auto;
        &:not(:first-child){
          margin: 8px 0 0;
        }
      }
    }
  }
}

// 767px
// 730

// 640

// 416

// 386
