.container.main{
  padding-top: 50px;
}
.search_wrap.col_6{
  padding-top: 20px;
}
.row{
  // display: flex;
  overflow: hidden;
  // width: 100%;
  margin-bottom: 70px;
  &:last-child{
    margin-bottom: 0;
  }
  & > div{
    display: inline-block;
    float: left;
    width: 100%;
  }
  .col_6{
    width: 50%;
  }
  .slider_banner{
    position: relative;
    float: right;
    width: 410px;
  }
  .search_wrap.col_6{
    .tag_list{
      margin-top: 15px;
    }
  }

}


.visitor_menu{
  input{
    display: none;
  }
  input#personal:checked ~ .visitor_menu_top .visitor_menu_toggle label[for=personal]{
    color: $fontWhite;
    background: $red;
    border-radius: 20px;
  }
  input#personal:checked ~ .visitor_menu_bottom .visitor_menu_personal{
    display: block;
  }
  input#business:checked ~ .visitor_menu_top .visitor_menu_toggle label[for=business]{
    color: $fontWhite;
    background: $red;
    border-radius: 20px;
  }
  input#business:checked ~ .visitor_menu_bottom .visitor_menu_business{
    display: block;
  }
  .visitor_menu_top{
    .title_text{
      margin-right: 18px;
    }
    .visitor_menu_toggle{
      overflow: hidden;
      display: inline-block;
      width: 192px;
      background-color: $bgColor;
      border: 1px solid $borderLine;
      border-radius: 20px;
      vertical-align: middle;
      position: relative;
      label{
        float: left;
        display: inline-block;
        width: 50%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: 0;
        color: #3a3a4a;
        position: relative;
      }

    }
  }
  .visitor_menu_bottom{
    margin-top: 35px;
    .visitor_menu_personal, .visitor_menu_business{
      display: none;
    }
    ul{
      display: flex;
      justify-content: flex-start;
      li{
        flex: 1;
        text-align: center;
        span{
          display: block;
          position: relative;
          margin: 0 auto 23px;
          width: 80px;
          height: 80px;
          border-radius: 32px;
          background: $bgColor no-repeat center;
          &:hover{
            background-color: $bgColorDark;
          }
        }
      }
    }
  }
}


.row.flex{
  display: flex;
  justify-content: space-between;
  .box_radius{
    flex: 0 1 29.8%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.bg_gray{
      background: $bgColor;
    }
    &.border_top_left_radius{
      border-top-left-radius: 60px;
    }
    &.border_top_right_radius{
      border-top-right-radius: 60px;
    }
    &.border_bottom_right_radius{
      border-bottom-right-radius: 60px;
    }
    &.news_area{
      height: 320px;
      background: #ef6266;
      ul{
        li{
          border-bottom: 1px solid $borderLine;
          &:last-child{
            border-bottom: none;
          }
          a{
            display: block;
            line-height: 52px;
            margin: 0 40px;
            color: $fontWhite;
            font-size: $fontMid;
            background: no-repeat center right 12px;
          }
          @for $i from 1 through 5{
            &:nth-child(#{$i}) a{
              background-image: url('../img/radius_menu/icon_news_area_0#{$i}.png');
            }
          }
        }
      }
    }
    &.health_info{
      height: 320px;
      border: 1px solid $borderLine;
      .title_text{
        margin: 0 39px 23px;
      }
      ul{
        li{
          a{
            display: block;
            margin: 0 39px;
            line-height: 46px;
            border-top: 1px solid $borderLine;
            background: no-repeat center right;
            &:hover{
              color: $red;
            }
            &:after{
              content: '';
              display: inline-block;
              position: relative;
              margin-left: 10px;
              top: 1px;
              width: 8px;
              height: 12px;
              background: url('../img/arrow-link.png') no-repeat;
            }
          }
          &:last-child a{
            border-bottom: 1px solid $borderLine;
          }
          @for $i from 1 through 4{
            &:nth-child(#{$i}) a{
              background-image: url('../img/radius_menu/icon-health-info-#{$i}.png');
            }
          }
        }
      }
    }
    &.guarantee{
      height: 320px;
      background: #2fa298 url('../img/radius_menu/bg-guarantee.png') no-repeat bottom right;
      ul{
        flex: 1;
        li{
          padding: 35px 39px 0;
          box-sizing: border-box;
          height: 50%;
          &:not(:first-child){
            border-top: 1px solid $borderLine;
          }
          a{
            & *{
              color: $fontWhite;
            }
          }
        }
      }
    }
    &.customer_area{
      flex: 1 100%;
      flex-direction: row;
      justify-content: space-between;
      padding: 39px;
      height: 261px;
      background: url('../img/bg-news-hiwell.png') no-repeat top right;
      border: 1px solid $borderLine;
      box-sizing: border-box;
      .customer{
        flex: 0 1 56.4%;
        .title_text{
          margin-bottom: 19px;
        }
        .box_wrap{
          display: flex;
          .box_radius{
            flex: 1;
            display: block;
            padding: 23px 25px;
            height: 110px;
            background-repeat: no-repeat;
            background-position: center right 23px;
            border-radius: 10px;
            box-sizing: border-box;
            .title_text{
              margin-bottom: 0;
            }
            &:first-child{
              background-image: url('../img/i-customer-1.png');
            }
            &:last-child{
              margin-left: 20px;
              background-image: url('../img/i-customer-2.png');
              .title_text{
                font-size: $fontNormal;
              }
            }
          }
        }
      }
      .news_letter{
        flex: 0 1 18.6%;
        .title_text{
          margin-bottom: 19px;
        }
        .box_radius{
          padding: 20px 0 20px 80px;
          background: url('../img/i-newsLetter.png') no-repeat left center;
        }
      }
      .app_download{
        flex: 0 1 18.6%;
        .title_text{
          margin-bottom: 19px;
        }
        .box_wrap{
          display: flex;
          justify-content: space-between;
          a{
            text-align: center;
            .box_radius{
              margin-bottom: 6px;
              width: 90px;
              height: 90px;
              object-position: center;
              object-fit: scale-down;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}

@media ( max-width: 1180px ){
  .row.flex{
    .box_radius{
      &.customer_area{
        .customer{
          flex: 0 1 51%;
          .box_wrap{
            .box_radius{
              &:first-child{
                // background-image: url('../img/i-customer-1.png');
                background-image: none;
              }
              &:last-child{
                // background-image: url('../img/i-customer-2.png');
                background-image: none;
              }
            }
          }
        }
        .news_letter{
          flex: 0 1 24%;
        }
        .app_download{
          flex: 0 1 21%;
        }
      }
    }
  }
}


@media ( max-width: 991px ){
  .row{

  .search_wrap{
    .search{
      form{
        input{
          height: 42px;
        }
        button{
          flex: 0 0 42px;
          width: 42px;
          height: 42px;
          background-size: 20px 20px;
          border-radius: 15px;
        }
      }
    }
  }
    .slider_banner{
      width: 43%;
    }
  }

  .visitor_menu{
    .visitor_menu_bottom{
      ul li span{
        margin-bottom: 10px;
        width: 70px;
        height: 70px;
        line-height: 70px;
        background-size: 30px;
      }
    }
  }

  .row.flex{
    .box_radius{
      &.customer_area{
        flex-wrap: wrap;
        height: auto;
        .customer{
          flex: 0 1 51%;
          .box_wrap{
            .box_radius{
              &:first-child{
                // background-image: url('../img/i-customer-1.png');
                background-image: none;
              }
              &:last-child{
                // background-image: url('../img/i-customer-2.png');
                background-image: none;
              }
            }
          }
        }
        .news_letter{
          flex: 0 1 24%;
        }
        .app_download{
          flex: 1 100%;
        }
      }
    }
  }
}
@media screen and ( max-width: 768px){
  .visitor_menu{
    .visitor_menu_bottom{
      margin-top: 0;
      ul{
        flex-wrap: wrap;
        li{
          flex: 0 1 20%;
          margin-top: 30px;
          span{
            width: 60px;
            height: 60px;
            line-height: 60px;
            background-size: 28px;
          }
        }
      }
    }
  }

  .row.flex{
    flex-wrap: wrap;
    .box_radius{
      flex: 1 100%;
      &:not(:first-child){
        margin-top: 30px;
      }
    }
  }
}
@media screen and ( max-width: 640px ){
  .search_wrap.col_6{
    display: none;
  }
  .visitor_menu{
    .visitor_menu_bottom{
      ul{
        li{
          span{
            width: 45px;
            height: 45px;
            line-height: 45px;
            background-size: 25px;
          }
        }
      }
    }
  }
}
@media screen and ( max-width: 416px ){
  .visitor_menu{
    .visitor_menu_bottom{
      margin-top: 0;
      ul{
        flex-wrap: wrap;
        li{
          flex: 0 1 33.3%;
          margin-top: 30px;
          span{
            // width: 70px;
            // height: 70px;
          }
        }
      }
    }
  }
}
