.choice{
  margin-bottom: 40px;
  border: 1px solid $borderLine;
  border-radius: 10px;
  ul{
    display: flex;
    margin: 65px 0 75px;
    li{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      &:not(:first-child){
        border-left: 1px solid $borderLine;
      }
      p{
        color: $link;
        font-size: var(--change21);
        font-weight: 700;
      }
      img{
        height: 200px;
        object-fit: none;
      }
      .button:not(:first-child){
        margin-left: 10px;
      }
    }
  }
}

.definition{
  dl{
    padding: 25px 30px;
    border: 1px solid $borderLine;
    dt{
      display: inline-block;
      position: absolute;
      min-width: 73px;
      padding: 0 10px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      color: $fontWhite;
      font-size: $fontSmall;
      letter-spacing: -0.025px;
      background: $bgColorDark;
      border-radius: 24px;
      &.bg_red{
        letter-spacing: -1px;
        background: $red;
      }
    }
    dd{
      margin-left: 110px;
      margin-bottom: 20px;
      color: $link;
      font-size: var(--change15);
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}



@media screen and ( max-width: 768px ){
  .workplace{
    ul{
      flex-wrap: wrap;
      flex-direction: row;
      margin: 0 10px;
      li{
        flex: 1 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        &:not(:first-child){
          border-left: none;
          border-top: 1px solid $borderLine;
        }
      }
    }
  }
  .workplace img, .sub_page_banner img{
    display: none;
  }
  dl{
    padding: 15px 12px;
    dt{
      position: relative;
      margin-bottom: 10px;
    }
    dd{
      margin-left: 0;
    }
  }
}
