#wrap{
  .container{
    .inner{
      display: flex;
      flex-wrap: wrap;
      aside{
        flex: 1 100%;
        margin: 20px 0 27px;
        ul{
          display: flex;
          justify-content: flex-end;
          li{
            &:not(:first-child){
              margin-left: 9px;
              padding-left: 15px;
              background: url('../img/arrow-location.png') no-repeat left center;
            }
            a{
              font-size: $fontSmall;
              img{
                vertical-align: sub;
              }
            }
          }
        }
      }
      .snb{
        flex: 0 0 220px;
        margin-right: 60px;
        .snb_title{
          margin-bottom: 41px;
          color: $link;
          font-family: 'Noto Sans KR', sans-serif;
          font-size: $titleMid;
          font-weight: 700;
        }
        ul{
          padding-top: 10px;
          border-top: 1px solid $borderLineDark;
          li{
            border-bottom: 1px solid $borderLine;
            a{
              display: block;
              position: relative;
              height: 41px;
              line-height: 41px;
              font-size: $change15;
              letter-spacing: -0.5px;
              &.on{
                color: $red;
                font-weight: 700;
              }
            }
          }
        }
      }
      .content{
        flex: 1;
        .survey{
          & *{
            font-size: $change15;
          }
          & > ul{

            & > li{
              padding: 20px 0;
              border-top: 1px solid $borderLine;
              input{
                display: none;
              }
              .survey_title{
                display: inline-block;
                vertical-align: top;
                margin-right: 30px;
                width: 76px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                color: $fontWhite;
                font-size: $fontSmall;
                background-color: $borderLineDark;
                border-radius: 10px 10px 10px 0;
              }
              .survey_content{
                display: inline-block;
                line-height: 32px;
                a{
                  img{
                    vertical-align: sub;
                  }
                }
                ul{
                  display: flex;
                  li{
                    label{
                      display: flex;
                      align-items: center;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
