#wrap{
  .container{
    .inner{
      display: flex;
      flex-wrap: wrap;
      aside{
        flex: 1 100%;
        margin: 20px 0 27px;
        ul{
          display: flex;
          justify-content: flex-end;
          li{
            &:last-child{
              a{
                color: $black;
              }
            }
            &:not(:first-child){
              margin-left: 9px;
              padding-left: 15px;
              background: url('../img/arrow-location.png') no-repeat left center;
            }
            a{
              font-size: $fontSmall;
              img{
                vertical-align: sub;
              }
            }
          }
        }
      }
      .snb{
        flex: 0 0 220px;
        margin-right: 60px;
        .snb_title{
          margin-bottom: 41px;
          color: $link;
          font-family: 'Noto Sans KR', sans-serif;
          font-size: $titleMid;
          font-weight: 700;
        }
        & > ul{
          padding-top: 10px;
          border-top: 1px solid $borderLineDark;
          & > li{
            border-bottom: 1px solid $borderLine;
            & > a{
              display: block;
              position: relative;
              height: 41px;
              line-height: 41px;
              font-size: var(--change15);
              letter-spacing: -0.5px;
              &.on{
                color: $red;
                font-weight: 700;
                & + ul{
                  display: block;
                }
              }
              &.dropdown_allow + ul{
                display: none;
                padding-bottom: 10px;
                &.on{
                  display: block;
                }
                li{
                  a{
                    display: block;
                    height: 34px;
                    line-height: 34px;
                    font-size: var(--change15);
                    &:before{
                      content: '';
                      display: inline-block;
                      position: relative;
                      top: -4px;
                      width: 6px;
                      height: 2px;
                      background: $borderLine;
                      margin: 0 5px;
                    }
                    &:hover{
                      color: $fontWhite;
                      background: $bgColorDark;
                    }
                    &:hover:before{
                      background: $bgWhite;
                    }
                    &.on{
                      color: $fontWhite;
                      background: $red;
                      &:before{
                        background: $bgWhite;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .content{
        flex: 1;
        .content_title{
          position: relative;
          margin-bottom: 40px;
          h2{
            color: $link;
            // font-size: $change32;
            font-size: var(--change32);
            font-family: 'Noto Sans KR', sans-serif;
            line-height: 40px;
          }
          .utililty{
            position: absolute;
            top: 0;
            right: 0;
            ul{
              overflow: hidden;
              li{
                float: left;
                &:not(:first-child){
                  margin-left: 12px;
                }
              }
            }
          }
          // 컨텐트 타이틀 끝
        }
        .survey{
          margin-top: 80px;
          & *{
            font-size: var(--change15);
          }
          & > ul{
            & > li{
              padding: 20px 0;
              border-top: 1px solid $borderLine;
              input[type=radio]{
                display: none;
              }
              .survey_title{
                display: inline-block;
                vertical-align: top;
                margin-right: 30px;
                width: 76px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                color: $fontWhite;
                font-size: $fontSmall;
                background-color: $borderLineDark;
                border-radius: 10px 10px 10px 0;
              }
              .survey_content{
                display: inline-block;
                line-height: 32px;
                a{
                  margin-left: 40px;
                  &:first-child{
                    margin-left: 0;
                  }
                  img{
                    margin-right: 7px;
                    vertical-align: sub;
                  }
                }
                .survey_score{
                  display: flex;
                  flex-wrap: wrap;
                  margin: 10px 0 20px;
                  li{
                    margin-right: 40px;
                    &:last-child{
                      margin-right: 0;
                    }
                    label{
                      display: flex;
                      align-items: center;
                      cursor: pointer;
                      span{
                        position: relative;
                        &:before {
                          content: '';
                          display: inline-block;
                          position: relative;
                          margin: 0 10px;
                          top: 6px;
                          width: 20px;
                          height: 20px;
                          border: 1px solid $borderLine;
                          border-radius: 50%;
                          box-sizing: border-box;
                        }
                      }
                    }
                    input[type=radio]:checked + label span:before{
                      border: 6px solid $borderLineDark;
                    }
                  }
                }
                .input_text{
                  height: 48px;
                  input{
                    height: 100%;
                    border-radius: 5px;
                    box-sizing: border-box;
                    &[type=text]{
                      margin-right: 11px;
                      padding: 0 12px;
                      max-width: 600px;
                      width: calc(100% - 95px);
                      border: 2px solid $borderLine;
                    }
                    &[type=submit]{
                      width: 80px;
                      // 버튼 컴퍼넌트 때문에 안 쓰는 속성들
                      // color: $fontWhite;
                      // background: $gbtnColor;
                      border: none;
                      // &:hover{
                      //   background: $gbtnColorHover;
                      // }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and ( max-width: 1180px ){

  #wrap .container .inner .content .survey > ul > li .survey_content .survey_score li label{
    img{
      display: none;
    }
    span:before{
      margin-left: 0;
    }
  }
  #wrap .container .inner .content .survey > ul > li .survey_content{
    width: calc( 100% - 110px );
  }
}

@media screen and ( max-width: 991px ){
  aside, .snb{
    display: none;
  }

  #wrap .container .inner .content .survey > ul > li .survey_content .survey_score li{
    margin-right: 20px;
  }
}


@media screen and ( max-width: 768px ){
  #wrap .container .inner .content .survey > ul > li .survey_content{
    display: block;
    margin-top: 20px;
    width: auto;
  }
}
