// 변수 처리
//size width, 예제는 고정형으로
$siteWidth: 1320px;

//font size
$fontSmall: 13px;
$fontNormal: 16px;
$fontMid: 19px;
$fontBig: 21px;

// title text size
$titleSmall: 20px;
$titleNormal: 24px;
$titleMid: 26px;
$titleBig: 32px;

// chage font
$change15: 15px;
$change21: 21px;
$change28: 28px;
$change32: 32px;

:root {
  --color: red;
  --change15: 15px;
  --change21: 21px;
  --change28: 28px;
  --change32: 32px;
}

@media (max-width: 991px) {
  :root {
    --color: green;
    --change15: 14px;
    --change21: 18px;
    // --change28: 28px;
    --change32: 24px;
  }
}

@media (max-width: 768px) {
  :root {
    --color: blue;
    // --change15: 15px;
    // --change21: 21px;
    // --change28: 28px;
    --change32: 20px;
  }
}


// h2{
//   color: var(--color)!important;
//   font-size: var(--chage32);
// }
body {
  // background-color: var(--color);
}


// background color
$bgColor: #f6f6f6;
$bgColorDark: #44465c;

// font color
$red: #ee0700;
$darkRed: #d7021b;
$fontColorDark: #3a3a4a;
$fontColorDarklight: #6c6d73;
$fontColorBasic: #666666;
$fontColorPrimary: #b8944d;
$fontColorHover: #e3a936;

// border color
$borderLine: #e1e3e6;
// $borderLine2: #e1e1e1;
$borderLineDark: #666779;
// $borderColor: #b8944d;
// $borderColorSub: #997939;

// button color, Global button
$gbtnColor: #44465c;
$gbtnColorHover: #333340;


// gnb font color
$gnbColor: #44465c;
$gnbBgColor: #f6f6f6;

$black: #000;
$fontWhite: #fff;

$bgWhite: #fff;
