// 변수 처리
//size width, 예제는 고정형으로
$siteWidth: 1320px;

//font size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

// title text size
$titleFontSizeSmall: 21px;
$titleSizeNormal: 24px;
$titleSizeMid: 26px;
$titleSizeBig: 32px;

// background color
$layoutBg: #fff3c4;

// font color
$fontColorBasic: #666666;
$fontColorPrimary: #b8944d;
$fontColorHover: #e3a936;

// border color
$borderColorPrimary: #b8944d;
$borderColerSub: #997939;

// button color, Global button
$gbtnColor: #b8944d;
$gbtnColorHover: #e3a936;
